body{
	background-color: #666;
}

#container{
	max-width: 1200px;
	margin-left: auto;
	margin-right: auto;
}

#welcomeDiv{
	padding-top: 5px;
	padding-left: 10px;
	padding-bottom:5px;
	background-color: #000;
	color: #999;
}

#imageDiv{
	background-color: #000;
	text-align: center;
	color: #999;
}

.thumb{
	max-height: 170px;
	margin: 10px;
}

.fullImage{
	max-width: 1200px;
}

#loginoutBtn{
	position: absolute;
	top: 0;
	right: 0;
}

#loginForm{
	position: absolute;
	top: 0;
	right: 70;
}

#desc{
}
